@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

.h1 {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
}

.h2 {
  @apply scroll-m-20 text-3xl font-semibold tracking-tight;
}

.h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}

.h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

.p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

.lead {
  @apply text-xl text-muted-foreground;
}

.large {
  @apply text-lg font-semibold;
}

.small {
  @apply text-sm font-medium leading-none;
}

.subtle {
  @apply text-sm text-muted-foreground;
}
